<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.clintonstrong.RandomChoice</string>
	<key>connections</key>
	<dict>
		<key>09C273FD-BE13-4E65-8464-1CFD88F503AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEA1058A-2017-4F2D-81E9-682F570C261A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1AF24AA9-217A-418E-BAAB-A2044C1FBFC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D55DFE6-201E-48DB-9F6B-354059373F53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84F4B0C4-B99F-46D2-A480-9759A336223A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1EDEA859-3AB9-4C3A-B05A-FEC3F83D6599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F4B0C4-B99F-46D2-A480-9759A336223A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A20DDBC-D992-4DD1-9A65-4A1860EEEC7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EDEA859-3AB9-4C3A-B05A-FEC3F83D6599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A57B3C4-85A5-44FF-BA30-281CC3FF29BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C8FE097-8363-4F67-9745-FC53F16610B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C8FE097-8363-4F67-9745-FC53F16610B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D55DFE6-201E-48DB-9F6B-354059373F53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84F4B0C4-B99F-46D2-A480-9759A336223A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6B59D864-3FEF-403F-A6DD-9D9CFBA509FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B825D68-687F-407F-A4F8-C843A552177C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B825D68-687F-407F-A4F8-C843A552177C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F4B0C4-B99F-46D2-A480-9759A336223A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2E20D6E-BD05-49E3-97E2-0811CF13C7CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AF24AA9-217A-418E-BAAB-A2044C1FBFC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BEA1058A-2017-4F2D-81E9-682F570C261A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F4B0C4-B99F-46D2-A480-9759A336223A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Clinton Strong</string>
	<key>description</key>
	<string>Feeling indecisive? Let Alfred decide.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Choice</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/ruby workflow.rb choose "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEA1058A-2017-4F2D-81E9-682F570C261A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>choose</string>
				<key>subtext</key>
				<string>Enter a comma separated list of values to choose from.</string>
				<key>text</key>
				<string>Choose '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09C273FD-BE13-4E65-8464-1CFD88F503AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0D55DFE6-201E-48DB-9F6B-354059373F53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>roll</string>
				<key>subtext</key>
				<string>Roll a d{query}.</string>
				<key>text</key>
				<string>Roll the dice...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2E20D6E-BD05-49E3-97E2-0811CF13C7CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/ruby workflow.rb roll "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AF24AA9-217A-418E-BAAB-A2044C1FBFC4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rand</string>
				<key>subtext</key>
				<string>Enter a min and max value, separated by a dash or comma</string>
				<key>text</key>
				<string>Choose a random number...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A57B3C4-85A5-44FF-BA30-281CC3FF29BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Random Choice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>84F4B0C4-B99F-46D2-A480-9759A336223A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/ruby workflow.rb random "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C8FE097-8363-4F67-9745-FC53F16610B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby workflow.rb should</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EDEA859-3AB9-4C3A-B05A-FEC3F83D6599</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>should</string>
				<key>subtext</key>
				<string>Get a yes or no response.</string>
				<key>text</key>
				<string>Should I...?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A20DDBC-D992-4DD1-9A65-4A1860EEEC7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flip</string>
				<key>subtext</key>
				<string>Heads or tails?</string>
				<key>text</key>
				<string>Flip a coin.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B59D864-3FEF-403F-A6DD-9D9CFBA509FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby workflow.rb flip</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9B825D68-687F-407F-A4F8-C843A552177C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Dice icon by icons8 &lt;http://icons8.com&gt;</string>
	<key>uidata</key>
	<dict>
		<key>09C273FD-BE13-4E65-8464-1CFD88F503AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0D55DFE6-201E-48DB-9F6B-354059373F53</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>1AF24AA9-217A-418E-BAAB-A2044C1FBFC4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>1EDEA859-3AB9-4C3A-B05A-FEC3F83D6599</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3A20DDBC-D992-4DD1-9A65-4A1860EEEC7D</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>4A57B3C4-85A5-44FF-BA30-281CC3FF29BC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5C8FE097-8363-4F67-9745-FC53F16610B7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6B59D864-3FEF-403F-A6DD-9D9CFBA509FF</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>84F4B0C4-B99F-46D2-A480-9759A336223A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9B825D68-687F-407F-A4F8-C843A552177C</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>A2E20D6E-BD05-49E3-97E2-0811CF13C7CF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BEA1058A-2017-4F2D-81E9-682F570C261A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://clintonstrong.com</string>
</dict>
</plist>
